/* -------------------------------------- General styling -------------------------------------*/

:root {
    --light-yellow: #D9B13B;
    --dark-yellow: #D9A230;
    --light-grey: #F2F2F2;
    --dark-grey: #737373;
    --new-black: #262626;
}

* {
    font-family: "Helvetica", Helvetica, Ariel, serif;
    box-sizing: border-box;
}

h1 {
    color: white;
}

@font-face {
    font-family: "CraftGothicBold";

    src: url("./fonts/Fontspring-DEMO-CraftGothic-Bold.woff") format("woff"),
        /* Modern Browsers */
        url("./fonts/Fontspring-DEMO-CraftGothic-Bold.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

/* -------------------------------------- -------------------------------------*/

body {
    background-color: #262626;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f5f5f5;
    border-bottom: 1px solid white;
}

.logo img {
    width: 400px;
    margin: 1rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    border-left: 1px solid white;
}

.main-link {
    text-decoration: none;
    color: #f5f5f5;
    padding: 1rem;
    display: block;
    font-size: 3rem;
    font-weight: bold;
}

.sublink {
    text-decoration: none;
    color: #f5f5f5;
    display: block;
    text-align: end;
    margin: 0 1rem .5rem 0;
}

.main-link:hover {
    color: #dddddd;
}

.sublink:hover {
    font-size: 0;
}

.sublink:hover:after {
    content: attr(data-hover);
    font-size: 16px;
    font-weight: bold;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
}

/* ----------------------------- FOOTER START  --------------------------------------- */
/* ----------------------------- FOOTER START  --------------------------------------- */
/* ----------------------------- FOOTER START  --------------------------------------- */

footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

footer {
    background: #333333;
    padding: 90px 0;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    color: white;
}

.footer-logo {
    width: 200px;
    margin-bottom: 20px;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    color: #D9B13B;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:hover {
    color: #D9A230;
}

.right-col {
    width: 500px;
    margin-bottom: 5rem;
}

right-col h1 {
    font-size: 26px;
}

.border {
    width: 100px;
    height: 4px;
    background: #D9B13B;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.txtb {
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: orange;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    min-width: 260px;
}

.btn-s {
    padding: 18px 40px;
    font-size: 16px;
    color: #262626;
    background: #D9B13B;
    border: none;
    font-weight: 700;
    outline: none;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
}

.btn {
    padding: 18px 40px;
    font-size: 16px;
    color: #262626;
    background: #D9B13B;
    border: none;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    transition: opacity .3s linear;
    width: 100%;
}

.btn-s:hover {
    background: #D9A230;
}

.btn:hover {
    background: #D9A230;
}




/*-------------------MOBILE--------------------*/


@media (max-width: 600px) {
    .toggle-button {
        display: flex;
        margin-top: .5rem;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .logo {
        width: 300px;
    }

    .sublink {
        text-align: center;
    }

    .footer-logo {
        margin-top: 50px;
    }
}

/* --------------------- Desktop calendar page --------------------------------------- */
/* --------------------- Desktop calendar page --------------------------------------- */
/* --------------------- Desktop calendar page --------------------------------------- */


.wrapper_highlights{
    display: flex;
    flex-direction: row;
    height: 75vh;
    width: auto;
    margin: 0.2em 7.3vw 0.2em 7.3vw;
    overflow: hidden;
}

.highlight h1 {
    font-size: 4em;
    margin:0.2em;
    margin-left: 7.3vw;
}
/* ------------------- sponsored image styling --------------------------------------------------*/

.main_picture {
    display: grid;
    grid-template: 1fr / 1fr;
    width: 30.4vw;
}

.main_picture h3 {
    width: 30.4vw;
    height: 75vh;
    grid-area: 1/1;
    z-index: 2;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-75vh);
    font-family: "Helvetica", helvetica, sans-serif;
    font-size: 3em;
    mix-blend-mode: soft-light;
        margin: 0;
    padding: 0;
}

.main_picture img {
    grid-area: 1/1;
    height: 75vh;

}

/* sponsored hover */
.main_picture:hover {
    width: 50vw;
    z-index: 3;
}

.main_picture:hover h3 {
    color: white;
    mix-blend-mode: normal;
    transform: rotate(0);
}

.main_picture:hover img {
    width: 50vw;
    height: auto;
}

/* ---------------------------------- second image styling --------------------------------------- */
.second_picture {
    display: grid;
    grid-template: 1fr / 1fr;
    width: 20.73vw;
    z-index: 2;
    overflow: hidden;
}

.second_picture img {
    grid-area: 1/1;
    height: 75vh;
}

.second_picture h3 {
    width: 20.73vw;
    height: 75vh;
    grid-area: 1/1;
    z-index: 3;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-75vh);
    font-family: "Helvetica", helvetica, sans-serif;
    font-size: 3em;
    mix-blend-mode: soft-light;
    margin: 0;
    padding: 0;
}

/* ---- second image hover ------ */
.second_picture:hover {
    width: 42vw;
    height: 75vh;
    z-index: 4;
    overflow: visible;
}

.second_picture:hover img {
    width: auto;
    z-index: 4;
}

.second_picture:hover h3 {
        color: white;
    mix-blend-mode: normal;
    transform: rotate(0);
    z-index: 5;
}


/* ---------------------------------- third image styling --------------------------------------- */

.three_picture_wrapper {
    display: flex;
    flex-direction: column;
    width: 20.73vw;
    height:75vh;
    z-index: 5;

}

.three_picture {
    width: 20.73vw;
    display: grid;
    grid-template: 1fr/1fr;
}

.third_picture {
    height: 25vh;
    width: 20.73vw;
    grid-area: 1/1
}

.three_picture h3 {
    grid-area: 1/1;
    z-index: 2;
    mix-blend-mode: difference;
    color: white;
    text-align: center;
    font-size: 2em;

}


/* third images hover */

@keyframes growThird {
    to {
    width: 34.27vw;
    z-index: 9;
    }
}
.three_picture:hover {
    justify-self: flex-end;
    animation: growThird ease-in forwards;
    transform-origin: bottom left;
}

.three_picture:hover img{
    animation: growThird ease-in forwards;
    transform-origin: bottom left;
    height: auto;
    grid-area: 1/1;

}

.three_picture:hover + three_picture {
    height:auto;
}

.three_picture:hover h3 {
    z-index: 10;
}



/* ---------------------------------- last image styling --------------------------------------- */

.six_picture {
    width: 13.54vw;
    display: flex;
    flex-direction: column;
}

.six_picture div {
    width: 13.54vw;
    height: 12.5vh;
}

.six_picture div img {
    max-width: 13.54vw;
}

/* ---------------------------------- Search --------------------------------------- */

.search-section {
    min-height: 25em;
    padding: 1em;
    display: none;
}

.search-wrapper {
    padding: 0 4em;
}

.search-controls {
    display: flex;
    align-items: center;
}

.txtb-search {
    flex: 1;
    padding: .5em .5em;
    font-size: 16px;
    font-weight: 700;
    color: #D9B13B;
    background: #ddd;
    outline: none;
    border: none;
    width: 9rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
}

.dropdown {
  position: relative;
  color:white;
  display: inline-block;
    margin: 0 4em;
    background-color: #D9B13B;
    padding: 1em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 2;
    color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ----------------------------------- END OF KALENDAR -------------------------------------------*/
/* ----------------------------------- END OF KALENDAR -------------------------------------------*/
/* ----------------------------------- END OF KALENDAR -------------------------------------------*/
/* ----------------------------------- END OF KALENDAR -------------------------------------------*/


/*------------------------------------- Cartridge Styling -------------------------------------*/
/*------------------------------------- Cartridge Styling -------------------------------------*/
/*------------------------------------- Cartridge Styling -------------------------------------*/

.cartridge_wrapper {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(800px, 300px, 1fr));
    margin: 0 7.3vw 0 7.3vw;
}

.cartridge {
    display: grid;
    grid-template-areas: 1/1;
    height: 35vh;
    overflow: hidden;
    margin: 1em;
}

.cartridge:hover .post_text {
    display:block;
}

.cartridge:hover .post_img {
    filter: brightness(10%) grayscale(80%) contrast(80%);
}

.post_img {
    display: flex;
    flex-flow: column;
    grid-area: 1/1;
    z-index: 1;
    width: 100%;
}

.post_text {
    height: 35vh;
    padding-left: 40%;
    grid-area: 1/1;
    z-index: 2;
    position: relative;
    color: white;
    display: none;
}


.id {
    display: none;
}

.title {
    margin: 8px 0 2px 0;
    font-family: "CraftGothicBold";
    text-transform: uppercase;
    font-weight: 1200;
    font-size: 2em;
}


h3.artist {
    margin: 0;
}

.post_text p {
    margin: 4px 0 4px 0;
}
